body {
  background-color: pink;
}

#sidebar {
  width: 180px;
  float: left;
  position: absolute;
  border: solid;
  height: 100%;
}

#sidebar img {
  width: 100%;
}

/*end of Sidebar styling --------------------------------*/

#super {
  margin-left: 200px;
  width: 100%;
  border: solid;
}
