body {
  background-color: pink;
}

#sidebar {
  width: 180px;
  position: absolute;
  border: solid;
  /*height: 100%;*/
}

#sidebar img {
  width: 100%;
}

#blerb {

}

#gh-link {

}

/*end of Sidebar styling --------------------------------*/

/*#super {
  margin-left: 180px
  width: 100%
  border: solid;
}

.container {
  margin-left: 180px;
  width: 100%;
  border: solid green;
}*/

#super {
  /*border: solid green;*/
  margin-left: 180px;
  margin-top: 10px;
}

.container {
  width: 100%;
  padding: 20px;
}

#about-me {
  /*width: 100%;*/
}
