body {
  padding: 15px;
  background-color: #b98eb1;
}

#sidebar {
  margin-top: 8px;
  width: 250px;
  padding-top: 100px;
  padding-left: 20px;
  /*border: solid 3px #b98eb1;*/
  border-radius: 6px;
  position: absolute;
  background-color: #433c5e;
  height: 100%;
  color: #fefa99;
  font-size: 17px;
}

#sidebar img {
  width: 210px;
  border-radius: 4px;
}

#sidebar a {
  color: #cf83bc;
}

#blerb {

}

#gh-link {

}

/*end of Sidebar styling --------------------------------*/
#super {
  /*border: solid green;*/
  margin-left: 258px;
  margin-top: 10px;
  background-color: #fffde0;
  border-radius: 2px;
  color: #830300;
}

.container {
  width: 100%;
  padding: 25px;
  /*border: solid blue;*/
}

#about-me {
  /*width: 100%;*/
  margin-bottom: 3%;
  border-bottom: dashed 2px #830300;
  padding-bottom: 4%;
}

/*end of Main Body styling ----------------------------------*/
#projects {
  /*border: solid orange;*/

}

.project-images {
  width: 100%;
  border: solid 2px #830300;
  border-radius: 2px;
}
