body {
  background-color: pink;
}

#sidebar {
  width: 180px;
  position: absolute;
  border: solid;
  /*height: 100%;*/
}

#sidebar img {
  width: 100%;
}

#blerb {

}

#gh-link {

}

/*end of Sidebar styling --------------------------------*/
#super {
  border: solid green;
  margin-left: 180px;
  margin-top: 10px;
}

.container {
  width: 100%;
  padding: 20px;
  border: solid blue;
}

#about-me {
  /*width: 100%;*/
}

/*end of Main Body styling ----------------------------------*/
#projects {
  border: solid orange;
}
